{% extends 'base.html' %}

{% block title %}  Detail Page {% endblock %}

{% block content %}
<div class="card" style="width:18rem;" >
    <img src="{{post.image_url}}" class="card-img-top " alt="No Image">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text"> {{post.body}}</p>
        <form action="{{ url_for('post_like', slug=post.slug) }}">
            {% if post.id | is_like(session.get('user_id')) %}
            <button type="submit" class="bi bi-hand-thumbs-up-fill">UnLike</button>
            {% else %}
            <button type="submit" class="bi bi-hand-thumbs-up">Like</button>
            {% endif %}
        </form>

    </div>

</div>
{% endblock %}