{%  extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}

<h3>Register Page</h3>
{% if form.username.errors %}
<div class="invalid-feedback">
    {% for error in form.username.errors %}
    <span>{{ error }}</span>
    {% endfor %}
</div>
{% else %}
<form method="post">
    <table>
        <tr>
            <td>{{form.username.label}}</td>
            <td>{{form.username()}}</td>
        </tr>
        <tr>
            <td>{{form.phone.label}}</td>
            <td>{{form.phone()}}</td>
        </tr>

    </table>
    <p>{{form.email.label}}: {{form.email()}}</p>
    <p>{{form.password.label}}: {{form.password()}}</p>
    <p>{{form.confirm_password.label}}: {{form.confirm_password()}}</p>
    <p> {{form.submit()}}</p>
    {{form.hidden_tag()}}


</form>
{% endblock %}
